<div class="mobile-menu-icon" onclick="toggleMenu()">☰</div>
<ul class="tabs-underlined list-inline">
  <li>
    <%= link_to "start", start_path, class: active_class?(start_path) %>
  </li>
  <li>
    <%= link_to "details", details_path, class: active_class?(details_path) %>
  </li>
  <li>
    <%= link_to "locations", locations_path, class: active_class?(locations_path) %>
  </li>
  <li>
    <%= link_to "infos", infos_path, class: active_class?(infos_path) %>
  </li>
  <li>
    <%= link_to "rsvp", rsvp_path, class: active_class?(rsvp_path) %>
  </li>
  <li>
    <%= link_to "südtirol-highlights", suedtirol_highlights_path, class: active_class?(suedtirol_highlights_path) %>
  </li>
</ul>

<!-- JavaScript Function to Toggle Menu -->
<script>
  function toggleMenu() {
    var menu = document.querySelector('.tabs-underlined');
    menu.classList.toggle('active');
  }
</script>



