<div class="home-infos">
  <%= image_tag "Weintraube_braun.png", class: "avatar", alt: "weintraube" %>
  <div class="content">

    <section>
      <h1>Anreise</h1>
      <p>Falls ihr nicht mit dem Auto oder mit dem Zug anreist, gibt es Direktflüge mit der Airline Skyalps von Hamburg, Berlin, Düsseldorf und Kassel direkt nach Bozen:</p>
      <a href="https://www.skyalps.com/de/" target="_blank">https://www.skyalps.com/de/</a>
      <br>
      <p>Entfernung mit dem Taxi/Auto vom Flughafen Bozen zum Ansitz Zinnenberg & Schloss Freudenstein: 12 km; 20 Minuten.</p>
      <p>Weitere Flughäfen in der Umgebung:
        <br>Innsbruck (135 km; 2 Std.)
        <br>Verona (160 km; 1,5 - 2 Std.)
        <br>München (320 km; 3,5 Std.)
      </p>
      <p>Bahnhof:
        <br>Bozen (14 km; 20 Minuten)
      </p>
    </section>

    <%= image_tag "Weintraube_braun.png", class: "avatar", alt: "weintraube" %>

    <section>
      <h1>Unterkünfte</h1>
        <h2>Eppan</h2>
          <p>Hotel Schloss Korb<br>
          <a href="www.schloss-hotel-korb.com" target="_blank">www.schloss-hotel-korb.com</a></p>
          <p>Hotel Christof<br>
          <a href="http://www.christof.it" target="_blank">www.christof.it</a></p>
          <p>Residence & Garden Hotel<br>
          <a href="http://www.ferien-suedtirol.com" target="_blank">www.ferien-suedtirol.com</a></p>
          <p>The Lodge - Golfclub Eppan<br>
          <a href="http://www.golfandcountry.it" target="_blank">www.golfandcountry.it</a></p>
          <p>Pension Penegalblick<br>
          <a href="http://www.penegalblick.it" target="_blank">www.penegalblick.it</a> /
          Steingarten<br>
          <a href="http://www.steingarten.it" target="_blank">www.steingarten.it</a></p>

        <h2>St. Pauls</h2>
          <p>B&B Zum guten Tropfen<br>
          <a href="http://www.gutentropfen.com" target="_blank">www.gutentropfen.com</a></p>
          <p>Weingut Klaus Lentsch, Apartment Fuchslahn<br>
          <a href="https://www.booking.com/hotel/it/weingut-klaus-lentsch.de.html" target="_blank">www.weingut-klaus-lentsch.de</a></p>
          <p>Apartment Wieser<br>
          <a href="http://www.apartmentwieser.it" target="_blank">www.apartmentwieser.it</a></p>

        <h2>Kaltern</h2>
          <p>Weißes Rössl<br>
          <a href="www.weisses-roessl-kaltern.com" target="_blank">www.weisses-roessl-kaltern.com</a></p>
    </section>

    <%= image_tag "Weintraube_braun.png", class: "avatar", alt: "weintraube" %>

    <section>
      <h1>Shuttle</h1>
        <%= image_tag "Shuttle.png", class: "details-img", alt: "shuttle" %>
    </section>

    <%= image_tag "Weintraube_braun.png", class: "avatar", alt: "weintraube" %>

    <section>
      <h1>Kinder</h1>
      <p>Wir freuen uns über das Kommen Eurer Kinder am Samstag in die Kirche und zum Empfang! Am Freitag- und Samstagabend wird ein Raum im Ansitz Zinnenberg & Schloss Freudenstein für die Babys & Kinderwagen mit Betreuung zur Verfügung gestellt werden.</p>
    </section>
    <%= image_tag "Weintraube_braun.png", class: "avatar", alt: "weintraube" %>

    <section>
      <h1>Reden & Beiträge</h1>
      <p>Für eventuelle Reden & Beiträge meldet Euch bitte bei:</p>
      <p>Nikola Hertel<br>+49 17630464353<br><a href="mailto:nikolahertel@outlook.de">nikolahertel@outlook.de</a></p>
    </section>
    <%= image_tag "Weintraube_braun.png", class: "avatar", alt: "weintraube" %>

    <section>
      <h1>Geschenketisch</h1>
      <p>Euer Kommen ist unser größtes Geschenk.
        <br>Solltet Ihr uns darüber hinaus eine Freude machen wollen, haben wir unter folgendem Link einen Hochzeitstisch zusammengestellt:</p>
      <a href="http://www.danielajacob.de" target="_blank">www.danielajacob.de</a>
    </section>

    <%= image_tag "Weintraube_braun.png", class: "avatar", alt: "weintraube" %>

    <section>
      <h1>Kontakte</h1>
      <p>Sabine und Hubertus Luckner</p>
        <p class="adresse">Klosterhof 1, 25436 Uetersen</p>
      <p>Martina Hoyer-Hertel</p>
        <p class="adresse">Straßweg 24, 22607 Hamburg</p>
      <p>Peter Hertel</p>
        <p class="adresse">Elbchaussee 197, 22605 Hamburg</p>
      <br>
      <p>Daniela und Jacob Luckner</p>
        <p class="adresse">Danziger Straße 57, 10435 Berlin
        <br>danielaundjacobluckner@gmail.com</p>

      <p>Daniela +49 17680636231
        <br>Jacob +49 1741969090
      </p>
      <br>
      <p>Josefine Theden-Schow +49 1739212080
        <br>Josephine Stolberg +49 16093911444
        <br>Nikola Hertel +49 17630464353
        <br>Pauline Dill +49 17631233737
        <br>Georg Oldenburg +49 17626110600
        <br>Jakob Below +49 15735805059
        <br>Jacob Bülow +49 1703444606
        <br>Robert Mangin +49 15142510654
      </p>
    </section>
  </div>
</div>
